/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6 p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
span,
p {
    margin: 0;
    line-height: initial;
}

span {
    display: block;
}

a {
    display: block;
    text-decoration: none;
}


label,
input {
    display: block;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
    display: inline;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}



/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;

    &:focus {
        outline: none;
    }
}




.game-container {
    position: relative;
    margin: auto;
    max-width: 1280px;
    width: 100%;
}

.game-inner {
    height: 0px;
    padding-top: 69.61%;
}

.game-inner__content {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(@/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.find-item {
    position: absolute;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.svg-item {
    width: 100%;
    height: 100%;
}


svg,
.find-item {
    pointer-events: none;
}

svg path,
svg rect,
svg circle {
    pointer-events: auto;
}





.fade-enter-active {
    transition: opacity .3s ease-in-out .2s;

}

.fade-leave-active {
    transition: opacity 0.5s ease-in-out .2s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fadeScale-enter-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fadeScale-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out .3s;
}

.fadeScale-enter-from,
.fadeScale-leave-to {
    opacity: 0;
    transform: scale(.2);
}


.description-modal {
    position: absolute;
    padding: clamp(1px, 1.56vw, 20px) clamp(1px, 2.18vw, 28px);
    border-radius: clamp(1px, 0.93vw, 12px);
    border: 3px solid #000;
    background: #FFF;
    box-shadow: clamp(1px, 0.62vw, 8px) clamp(1px, 0.62vw, 8px) 0px 0px rgba(0, 0, 0, 0.40);
    width: clamp(1px, 35.9vw, 460px);
}

.description-modal__title {
    color: #000;
    font-family: "DIN Pro";
    font-size: clamp(1px, 2.18vw, 28px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: clamp(1px, 0.78vw, 10px);
}

.description-modal__text {
    color: #000;
    font-family: "DIN Pro";
    font-size: clamp(1px, 1.87vw, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
}

.description-modal__close {
    cursor: pointer;
    position: absolute;
    right: clamp(1px, 1.56vw, 20px);
    top: clamp(1px, 1.56vw, 20px);
    width: clamp(1px, 2.8vw, 36px);
    height: clamp(1px, 2.8vw, 36px);

    svg {
        width: 100%;
        height: 100%;
    }
}


.description-modal {
    z-index: 3;

    &[data-modal-id="7"] {
        left: 51%;
        top: 23%;
    }

    &[data-modal-id="4"] {
        left: 51%;
        top: 41%;
    }

    &[data-modal-id="8"] {
        left: 45%;
        top: 41%;
    }

    &[data-modal-id="5"] {
        left: 60%;
        top: 12%;
    }

    &[data-modal-id="6"] {
        left: 23%;
        top: 25%;
    }

    &[data-modal-id="3"] {
        left: 39%;
        bottom: 16%;
    }

    &[data-modal-id="1"] {
        left: 39%;
        bottom: 16%;
    }

    &[data-modal-id="10"] {
        left: 9%;
        bottom: 20%;
    }

    &[data-modal-id="2"] {
        left: 44%;
        top: 45%;
    }

    &[data-modal-id="9"] {
        left: 40%;
        bottom: 6%;
    }
}

.check-btn {
    cursor: pointer;
    position: absolute;
    right: clamp(1px, 1.56vw, 20px);
    bottom: clamp(1px, 1.56vw, 20px);
    color: #FFF;
    font-family: "DIN Pro";
    font-size: clamp(1px, 1.56vw, 20px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    padding: clamp(1px, 1.25vw, 16px) clamp(1px, 2.34vw, 30px);
    border-radius: 8px;
    border: 3px solid #000;
    background: #26B7FF;
    box-shadow: clamp(1px, 0.31vw, 4px) clamp(1px, 0.31vw, 4px) 0px 0px rgba(0, 0, 0, 0.40);
}

.start-modal__btn {
    color: #FFF;
    font-family: "DIN Pro";
    font-size: clamp(1px, 2vw, 26px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    border-radius: clamp(1px, 0.6vw, 8px);
    background: #26B7FF;
    padding: clamp(1px, 1.4vw, 18px);
    text-align: center;
    cursor: pointer;
}

.start-modal {
    backdrop-filter: blur(5px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.start-modal__inner {
    border-radius: clamp(1px, 1vw, 16px);
    border: 3px solid #000;
    background: #FFF;
    box-shadow: clamp(1px, 0.6vw, 8px) clamp(1px, 0.6vw, 8px) 0px 0px rgba(0, 0, 0, 0.40);
    width: clamp(1px, 51.5vw, 660px);
    padding: clamp(1px, 3.4vw, 44px) clamp(1px, 4.68vw, 60px);
}


.result-modal {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: clamp(1px, 54vw, 660px);
    width: 100%;
    padding: clamp(1px, 2.29vw, 28px) clamp(1px, 4.91vw, 60px) clamp(1px, 3.93vw, 48px) clamp(1px, 4.91vw, 60px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: clamp(1px, 1.3vw, 16px);
    border: 3px solid #000;
    background: #FFF;
    box-shadow: clamp(1px, 0.6vw, 8px) clamp(1px, 0.6vw, 8px) 0px 0px rgba(0, 0, 0, 0.40);

    .start-modal__btn {
        width: 100%;
    }
}

.result-modal__ico {
    width: clamp(1px, 24.75vw, 302px);
    height: clamp(1px, 9.91vw, 121px);
    margin-bottom: clamp(1px, 1.3vw, 16px);

    svg {
        width: 100%;
        height: 100%;
    }
}

.result-modal__block {
    padding: clamp(1px, 1.96vw, 24px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: clamp(1px, 12.2vw, 20px);
    border: 3px solid #CBCBCB;
    margin-bottom: clamp(1px, 3.27vw, 40px);
}

.result-modal__block-title {
    color: #000;
    font-family: "DIN Pro";
    font-size: clamp(1px, 2.21vw, 27px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.result-modal__block-data {
    color: #8DD429;
    font-family: "DIN Pro";
    font-size: clamp(1px, 2.62vw, 32px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: clamp(1px, 1.96vw, 24px);
    }
}

.result-modal__text {
    color: #000;
    text-align: center;
    font-family: "DIN Pro";
    font-size: clamp(1px, 1.96vw, 24px);
    margin-bottom: clamp(1px, 3.27vw, 40px);
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
}